html {
  font-size: 10px;
  font-family: 'Consolas', consolas;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #5e1c99;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffbe0b;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff006e;
  text-shadow: 3px 3px 1px black;
}

ul {
  border-top: 1px dashed #ff00ff;
  padding-top: 15px;
}

img {
  display: block;
  margin: 0 auto;
}
